@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

:root {
    --primary-color: #5bba6f;
    --secundary-color: #FFFFFF;

}




/* General body styling */
body {
    overflow-x: hidden;
    font-family: 'Lilita One';
    background-color: var(--primary-color);
    color: var(--secundary-color);
    margin: 0;
    padding: 0;
    width: 100%;

}

/* Estilo del Preloader */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.preloader img {
    width: 100%;
    height: 100%;
}




.contentenedorVolverMain {
    display: flex;
    align-items: center;

}

.home {
    width: 7vw;
    height: auto;
    margin-right: 2vw;

}

.logo {
    width: 5vw;
    height: 10vh;
}



header h1 {
    font-family: 'Lilita One';
    font-size: 2vw;
    background: linear-gradient(180deg, #fdde89, #f86b0c);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.10vh #003049;

}





.hora {
    font-family: 'Lilita One';
    font-size: 1.5vw;
    background: linear-gradient(180deg, #fdde89, #f86b0c);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.10vh #003049;
}

.saldo {
    display: flex;
    align-items: center;
}

.saldo img {
    width: 2vw;
    height: 4vh;
    margin-left: 2%;

}

.saldo img:hover {

    cursor: pointer;

}

.saldo p {
    font-family: 'Lilita One';
    font-size: 1.5vw;
    background: linear-gradient(180deg, #fdde89, #f86b0c);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke: 0.10vh #003049;
}

.horaYConfi {
    display: flex;
    align-items: center;
    padding: 0 2%;
}

.horaYConfi img {
    width: 2vw;
    height: 4vh;
    margin-left: 10%;
}

.ajustesModal {
    display: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent), url("../assets/header.jpg");
    background-size: cover;
    background-position: center top;
    max-width: 100%;
    height: 10%;
    padding: 1% 5%;
}

.contenedorJuego {
    background-image: url("../assets/Fondo\ tragaperras.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 75%;
    max-width: 100%;
    margin: 5% auto;
    padding: 1.5%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.marco {
    display: flex;
    padding: 1%;
    border: 30px solid;
    border-image-source: url('../assets/texturaArbol.jpg');
    border-image-slice: 800;
    border-image-repeat: round;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 2%;
}

.carrete {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    margin-right: 2%;
    border-radius: 15px;
    background: #f2d7c3;
    border: 4px solid #3a5a40;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    width: 150px;
    max-width: 100%;
}

.botonTirar {
    background-image: url('../assets/texturaArbol.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Lilita One';
    font-size: 1.5vw;
    color: #f2d7c3;
    border-radius: 20px;
    width: 20%;
}

.contenedorJuego img {

    width: 100%;
    max-width: 150px;
    height: auto;
}

@keyframes girar {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-400%);
    }

    100% {
        transform: translateY(0);
    }
}


.girar {
    animation: girar 1s ease-in-out forwards;

}

.depositar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--fondoModal);
    align-items: center;
    justify-content: center;
}

/* Estilo para el contenido del modal */
.contenidoModal {
    background-image: url("../assets/fondo\ modal.jpg");
    background-size: cover;
    background-position: center top;
    padding: 2%;
    border-radius: 10px;
    width: 30%;
    color: #F4A261;
    text-align: center;
    border: 3px solid #3A5A40;
    -webkit-text-stroke: 0.1vh #003049;

}

/* BOTON DE CIERRE MODAL */
.cerrarModal {
    position: absolute;
    top: 32%;
    right: 35%;
    font-size: 1.5rem;
    color: var(--modal-text-color);
    cursor: pointer;
}

/* Button styling */
button,
input {
    font-family: 'Lilita One';
    background-color: #FFCB77;
    color: #333333;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: auto;
    margin-top: 2%;
    -webkit-text-stroke: 0;
}

button:hover {
    background-color: #F4A261;

}

footer {
    display: flex;
    align-items: center;
    background-color: rgba(17, 40, 24, 1);
    width: 100%;
    padding: 1% 0;
    position: relative;
    min-height: 60px;
    z-index: 10;
    margin-top: auto;
    color: #FDF0D5;
}

footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 15%;
}

footer a img {
    width: 40%;
    height: auto;
}