    @import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

    :root {
        --primary-color: #5bba6f;
        --secundary-color: #FFFFFF;
        --dark-bg-color: #1a1a1a;


    }


    * {
        box-sizing: border-box;
    }

    /* General body styling */
    body {
        overflow-x: hidden;
        font-family: 'Lilita One';
        background-color: var(--primary-color);
        color: var(--secundary-color);
        margin: 0;
        padding: 0;
        width: 100%;
        max-height: 100vh;

    }

    /* Estilo del Preloader */
    .preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
    }

    .preloader img {
        width: 100%;
        height: 100%;
    }




    .contentenedorVolverMain {
        display: flex;
        align-items: center;

    }

    .home {
        width: 7vw;
        height: auto;
        margin-right: 2vw;

    }

    .logo {
        width: 5vw;
        height: 10vh;
    }



    h1 {
        font-family: 'Lilita One';
        font-size: 2vw;
        background: linear-gradient(180deg, #fdde89, #f86b0c);
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-stroke: 0.10vh #003049;

    }

    .hora {
        font-family: 'Lilita One';
        font-size: 1.5vw;
        max-width: 100%;
        width: 90%;
        background: linear-gradient(180deg, #fdde89, #f86b0c);
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-stroke: 0.10vh #003049;


    }

    .saldo {
        display: flex;
        align-items: center;
    }

    .saldo img {
        width: 2vw;
        height: 4vh;
        margin-left: 2%;

    }

    .saldo img:hover {

        cursor: pointer;

    }

    .saldo p {
        font-family: 'Lilita One';
        font-size: 1.5vw;
        background: linear-gradient(180deg, #fdde89, #f86b0c);
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-stroke: 0.10vh #003049;
    }

    .horaYConfi {
        display: flex;
        align-items: center;
        padding: 0 2%;
        width: 15%;

    }

    .horaYConfi img {
        margin-left: 10%;
    }

    .horaYConfi img:hover {
        cursor: pointer;
    }

    .horaYConfi img,
    .icono {
        width: 2vw;
        height: 4vh;
        transition: transform 0.3s ease, filter 0.3s ease;
        margin-bottom: 3%;
        margin-top: 3%;

    }

    .ajustesModal {
        display: none;
    }

    .depositarYRetirar {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2%;
        width: 100%;
        height: 100%;
    }

    .saldoCreditosInfo {
        font-size: 1.5vw;
        margin: 1%;
    }

    .tablaPremios {
        display: none;
        flex-direction: column;
        align-items: center;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
    }


    .tablaPremios h2 {
        font-family: 'Lilita One';
        font-size: 2.2vw;
        color: #fdf0d5;
        -webkit-text-stroke: 0.15vh #003049;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    .tablaEstilos {
        width: 60%;
        border-collapse: collapse;
        background-color: #f2d7c3;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        border-radius: 8px;
        overflow: hidden;
    }

    .tablaEstilos th,
    .tablaEstilos td {
        padding: 1rem;
        text-align: center;
        font-family: 'Lilita One';
        color: #003049;
    }

    .tablaEstilos th {
        background-color: #3a5a40;
        color: #fdf0d5;
        font-size: 1.5vw;
        position: relative;
    }

    .tablaEstilos th img {
        width: 1.5vw;
        height: auto;
        margin-right: 0.5rem;
        vertical-align: middle;
    }

    .tablaEstilos tr:nth-child(even) {
        background-color: #eae2b7;
    }

    .tablaEstilos tr:nth-child(odd) {
        background-color: #f4a261;
    }

    .tablaEstilos td {
        font-size: 1.3vw;
    }


    /* Animación de entrada de la tabla */
    .tablaPremios {
        animation: fadeIn 0.5s ease-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10%);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        align-items: center;
        justify-content: center;
    }

    /* Estilo para el contenido del modal */
    .contenidoModal {
        background-image: url("../assets/fondo\ modal.jpg");
        background-size: cover;
        background-position: center top;
        padding: 2%;
        padding-top: 0;
        border-radius: 10px;
        width: 30%;
        text-align: center;
        border: 3px solid #3A5A40;

    }

    /* BOTON DE CIERRE MODAL */
    .cerrarModal {
        position: absolute;
        top: 0%;
        right: 5%;
        font-size: 2rem;
        cursor: pointer;
        font-family: 'Lilita One';
        background: linear-gradient(180deg, #fdde89, #f86b0c);
        -webkit-background-clip: text;
        color: transparent;
        -webkit-text-stroke: 0.10vh #003049;
    }

    .botonesModal {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .inputModal {
        width: 100%;
        text-align: center;
    }

    .inputModal::placeholder {
        text-align: center;
        color: #003049;

    }

    .inputModal:focus {
        outline: 2px solid #F4A261;
        box-shadow: 0 0 8px rgba(244, 162, 97, 0.5), 0 0 12px rgba(244, 162, 97, 0.3);
        transition: outline-color 0.3s ease, box-shadow 0.3s ease;
    }

    /*ELIMINA LAS FLECHAS DEL INPUT NUMERICO*/
    .inputModal::-webkit-outer-spin-button,
    .inputModal::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .botonModal {
        width: 40%;
    }

    /* Button styling */
    .botonModal,
    .inputModal {
        font-family: 'Lilita One';
        background-color: #FFCB77;
        color: #003049;
        padding: 0.8rem 1.5rem;
        border: 2px solid #003049;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-top: 2%;
        -webkit-text-stroke: 0;

    }

    .botonModal:hover,
    .inputModal:hover {
        background-color: #F4A261;

    }

    /* Estilo del Modal de Error */
    .modalError {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        align-items: center;
        justify-content: center;
    }

    /* Contenido del Modal de Error */
    .contenidoModalError {
        background-image: linear-gradient(to bottom right, #F86B0C, #FDDE89);
        color: #003049;
        border: 5px solid #3A5A40;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        padding: 2rem;
        width: 30%;
        text-align: center;
        position: relative;
    }


    #mensajeError {
        font-family: 'Lilita One', sans-serif;
        font-size: 1.5vw;
        margin-bottom: 1rem;
        color: #FFFFFF;
        text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    }


    .cerrarModalError {
        position: absolute;
        top: 11px;
        right: 14px;
        font-size: 1.5rem;
        color: #FFFFFF;
        cursor: pointer;
        transition: color 0.3s ease;
    }

    .cerrarModalError:hover {
        color: #F4A261;
    }

    .contenidoAjustesModal {
        background-image: linear-gradient(to bottom right, #F86B0C, #FDDE89);

    }

    /* Estilo para los encabezados del modal de ajustes */
    .contenidoAjustesModal h2 {
        font-family: 'Lilita One', sans-serif;
        font-size: 2.2vw;
        color: #FDF0D5;
        -webkit-text-stroke: 0.15vh #003049;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }

    .contenidoAjustesModal h3 {
        font-family: 'Lilita One';
        font-size: 1.6vw;
        color: #EAE2B7;
        -webkit-text-stroke: 0.1vh #003049;
        padding: 0.4rem;
        margin-bottom: 1rem;
    }




    /* Animación de aparición del modal */
    .modalError .contenidoModalError,
    .modal .contenidoModal,
    .modalSonido,
    .modalTiradasAutomaticasPantalla,
    .modalVictoria {
        animation: aparecerModal 0.5s ease-out forwards;
    }

    /* Animación de entrada */
    @keyframes aparecerModal {
        from {
            opacity: 0;
            transform: scale(0.8);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }

    .icono {
        cursor: pointer;
        transition: transform 0.3s ease, filter 0.3s ease;

    }

    .icono:hover {
        transform: scale(1.1);
        filter: brightness(1.3);
        /* Incrementa el brillo */
    }

    .modo-oscuro {
        filter: grayscale(1) brightness(0.8) contrast(1.2);
        background-color: var(--dark-bg-color);


    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent), url("../assets/header.jpg");
        background-size: cover;
        max-width: 100%;
        padding: 0 5%;

    }

    .contenedorJuego {
        position: relative;
        background-image: url("../assets/fondoTragaperras.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 75%;
        margin: 0.5% auto;
        margin-bottom: 2%;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        overflow: hidden;


    }

    .contenedorTituloJuego {
        position: absolute;
        top: -3%;
        left: 50%;
        transform: translateX(-50%);

    }

    .marco {
        display: flex;
        padding: 1%;
        border-radius: 10%;
        border: 30px solid;
        border-image-source: url('../assets/texturaArbol.png');
        border-image-slice: 800;
        border-image-repeat: round;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        margin: 2%;
        background: var(--primary-color);
    }

    .carrete {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        margin: 2%;
        border-radius: 15px;
        background: #f2d7c3;
        border: 4px solid #3a5a40;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        width: 7.81vw;
        max-width: 100%;
        height: 40vh;
    }


    .carrete img {

        height: 100%;
        width: 100%;
        object-fit: cover;

    }


    .destacar {
        background-color: #f6af31;
        border: 3px solid #ffdf00;
        border-radius: 10px;
        box-shadow: 0 0 15px #ffdf00;
        animation: crecerReducir 1s infinite;
        transition: background-color 0.5s ease, border 0.5s ease;
    }

    /* Animación de crecimiento */
    @keyframes crecerReducir {

        0%,
        100% {
            transform: scale(1);

        }

        50% {
            transform: scale(1.1);

        }
    }

    /* Estilo general del modal */
    .modalVictoria {
        display: none;
        position: fixed;
        z-index: 9999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        align-items: center;
        justify-content: center;

    }


    .modalVictoriaContenido {
        background-color: #000000d0;
        padding: 2%;
        padding-top: 0;
        border-radius: 10px;
        width: 30%;
        height: 45%;
        text-align: center;
    }

    .modalVictoriaContenido img {
        max-width: 100%;

    }

    .premioHeader {
        position: absolute;
        position: absolute;
        width: 20vw;
        /* Mantén el tamaño que prefieras */
        top: 25%;
        /* Controla cuánto sobresale por arriba */
        left: 40.5%;
        /* Posición horizontal centrada respecto al padre */
        transform: translateX(-50%);
        /* Corrige el desplazamiento horizontal para centrar */
        animation: crecerReducir 1s infinite;

    }

    .girafaPremio {
        height: 18vh;
        animation: crecerReducir 1s infinite;
        padding-bottom: 4%;
    }

    .mensajeVictoria {
        margin-top: 20%;
        margin-bottom: 10%;
        font-size: 2rem;
        font-weight: bold;
        color: #ffd700;
        text-align: center;
        text-shadow: 2px 2px 8px #ff4500, 0 0 15px #ff8c00;
        animation: crecerReducir 1s infinite;
    }

    .cerrarModalVictoria {
        position: absolute;
        cursor: pointer;
        width: 3vw;
        right: 35%;
        top: 33%;
    }


    /* Animación de entrada */
    @keyframes zoomIn {
        0% {
            transform: scale(0.7);
            opacity: 0;
        }

        100% {
            transform: scale(1);
            opacity: 1;
        }
    }

    .footerJuego {
        display: flex;
        width: 100%;
        height: auto;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 2vh;
        align-items: center;


    }

    .modalSonido {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 15vw;
        height: 4vh;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        bottom: 30%;
        right: 70%;
        padding: 1%;
        border-radius: 10px;

    }

    .modalSonidoPantalla {
        display: none;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        position: absolute;
    }

    .modalSonido img {
        width: 10%;
        transition: transform 0.3s ease, filter 0.3s ease;

    }


    .modalSonido img:hover {
        transform: scale(1.2);
        cursor: pointer;
    }

    .barraVolumen {
        appearance: none;
        background: var(--primary-color);
        border-radius: 5px;
        height: 100%;
    }

    .barraVolumen::-webkit-slider-thumb {

        -webkit-appearance: none;
        appearance: none;
        width: 1vw;
        height: 2vh;
        background: var(--primary-color);
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid #fff;


    }

    /* Estilo para el thumb cuando está en mute */
    .barraVolumen.mute,
    .mute::-webkit-slider-thumb {
        background: #c30a0a;

    }


    .valorVolumen {
        display: inline-block;
        width: 2.5em;
        text-align: center;
        font-size: 1em;
        color: white;
    }

    .modalTiradasAutomaticasContenido {
        display: flex;
        flex-direction: column;
        padding: 2%;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 10px;
        color: #f6af31;
        align-items: center;
    }

    .modalTiradasAutomaticasContenido span {
        color: var(--secundary-color);
    }

    .contenedorElegirTiradas {
        margin: 10%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .iniciarTiradas {
        background: #00b862;
        font-family: 'Lilita One';
        color: var(--secundary-color);
        border: none;
        cursor: pointer;
        border-radius: 3px;
        width: 100%;
        height: 5vh;
    }

    .cerrarModalTiradas {
        position: absolute;
        cursor: pointer;
        width: 3vw;
        right: 32%;
        top: 33%;
    }

    .tituloTiradas {
        width: 100%;
        font-size: 1.3vw;
    }

    .iniciarTiradas:hover {

        background: #33bb7c;
    }



    .barraTiradas {
        width: 70%;
        appearance: none;
        background: var(--primary-color);
        border-radius: 10px;
        height: 100%;
    }

    .barraTiradas::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 1vw;
        height: 2vh;
        background: var(--primary-color);
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid #fff;
    }

    .valorTiradas {
        display: inline-block;
        width: 30%;
        text-align: center;
        font-size: 1em;
        color: white;
    }

    .creditos {
        text-align: center;
        background-color: var(--secundary-color);
        font-family: 'Lilita One';
        font-size: 1vw;
        color: #000000;
        border-radius: 30px;
        border: none;
        cursor: pointer;
        width: 100%;
        transition: transform 0.3s ease, filter 0.3s ease;
        margin-bottom: 5%;

    }

    .creditos:hover {
        transform: scale(1.2);
        filter: brightness(1.1);

    }

    .navegacionFooterJuego {
        width: 50%;
        display: flex;
        color: #f6af31;
        align-items: center;
    }

    .navegacionFooterJuego p {
        color: #f6af31;
        padding-left: 15%;
    }


    .creditosApuesta {
        color: var(--secundary-color) !important;
        width: 100%;
        padding-left: 4% !important;
    }


    .contenedorBotones {
        display: flex;
        width: 33%;
        justify-content: center;
        height: 100%;
        align-items: center;

    }

    .jugar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #cantidadTiradas {
        display: none;
    }

    .botonTirar {
        width: 8vw;
        padding: 1vh 1vw;
        transition: transform 0.3s ease, filter 0.3s ease;
        max-height: 100%;

    }

    .iconos {
        width: 33%;
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }




    .textoTragaperras {
        width: 33%;
        display: flex;
        text-align: center;

    }

    .textoTragaperras h1 {
        width: 100%;
        height: 100%;
        text-align: center;
        color: var(--secundary-color);
    }

    .botonTirar:hover {
        filter: brightness(1.1);
        transform: scale(1.05);
    }



    .botonTirar:hover {
        cursor: pointer;
    }

    .girar {
        animation: moverCarrete 3s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    }


    @keyframes moverCarrete {

        0% {
            transform: translateY(0%);
        }

        50% {
            transform: translateY(-1200%);
        }

        100% {
            transform: translateY(0%);
        }



    }

    footer {

        display: flex;
        align-items: center;
        background-color: rgba(17, 40, 24, 1);
        width: 100%;
        padding: 1% 0;
        position: relative;
        min-height: 60px;
        z-index: 10;
        margin-top: auto;
        color: #FDF0D5;
    }

    footer a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 15%;
    }

    footer a img {
        width: 40%;
        height: auto;
    }